<<<<<<< HEAD
h1 {
    text-align: center;
}

body {
    font-size: 2em;
}

input {
    width: 80%;
    height: 30px
}

textarea {
    width: 80%;
}

textarea::placeholder {
    font-style: italic;
    font-size: 20px;
}

#studentName,
#week {
    text-align: center;
}

#weeklyLog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
select,
textarea {
    font-size: 20px;
=======
/* Color Palette 
#88CCF1 Baby Blue
#C1DFF0 Columbia Blue
#3587A4 Blue Munsell
#2D848A Metallic Seaweed
#2D898B Dark Cyan
*/

body {
    font-family: 'Roboto', sans-serif, helvetica;
    font-size: 2em;
    background-color: #88CCF1;
>>>>>>> origin
}